In [6]:
import pandas as pd

In [46]:
#Import incentives dataset
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Database/incentives_db.csv"
incentives_df = pd.read_csv(file_path)
incentives_df.head()

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,start_date,end_date
0,Alameda,Rebate,BEV,2000,1,0,1,1,7/1/2021,1/1/2023
1,Alameda,Grant,Any,9500,1,1,1,1,3/1/2019,1/1/2023
2,Alameda,Grant,Any,5000,1,1,0,1,6/1/2018,1/1/2023
3,Alameda,Toll discount,CAV,7,1,0,0,0,1/1/2019,1/1/2023
4,Alameda,Rebate,EV Charger,800,1,0,1,1,7/1/2018,1/1/2023

In [47]:
# Convert to datetime
incentives_df["start_date"] = pd.to_datetime(incentives_df["start_date"])
incentives_df["end_date"] = pd.to_datetime(incentives_df["end_date"])
# strftime(%Y-%M-%D)
incentives_df.head()

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,start_date,end_date
0,Alameda,Rebate,BEV,2000,1,0,1,1,2021-07-01,2023-01-01
1,Alameda,Grant,Any,9500,1,1,1,1,2019-03-01,2023-01-01
2,Alameda,Grant,Any,5000,1,1,0,1,2018-06-01,2023-01-01
3,Alameda,Toll discount,CAV,7,1,0,0,0,2019-01-01,2023-01-01
4,Alameda,Rebate,EV Charger,800,1,0,1,1,2018-07-01,2023-01-01

In [48]:
min(incentives_df["start_date"])

Timestamp('2009-01-01 00:00:00')

In [49]:
max(incentives_df["start_date"])

Timestamp('2021-12-10 00:00:00')

In [50]:
incentives_df = incentives_df.set_index(["start_date"])
incentives_df.head()

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,end_date
start_date,,,,,,,,,
2021-07-01,Alameda,Rebate,BEV,2000,1,0,1,1,2023-01-01
2019-03-01,Alameda,Grant,Any,9500,1,1,1,1,2023-01-01
2018-06-01,Alameda,Grant,Any,5000,1,1,0,1,2023-01-01
2019-01-01,Alameda,Toll discount,CAV,7,1,0,0,0,2023-01-01
2018-07-01,Alameda,Rebate,EV Charger,800,1,0,1,1,2023-01-01

In [51]:
county_year_incentives = incentives_df.loc["2015-01-01": "2021-12-10"]
county_year_incentives

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,end_date
start_date,,,,,,,,,
2021-07-01,Alameda,Rebate,BEV,2000,1,0,1,1,2023-01-01
2019-03-01,Alameda,Grant,Any,9500,1,1,1,1,2023-01-01
2018-06-01,Alameda,Grant,Any,5000,1,1,0,1,2023-01-01
2019-01-01,Alameda,Toll discount,CAV,7,1,0,0,0,2023-01-01
2018-07-01,Alameda,Rebate,EV Charger,800,1,0,1,1,2023-01-01
...,...,...,...,...,...,...,...,...,...
2019-01-01,Ventura,Rebate,Any,1000,1,0,1,1,2023-01-01
2019-01-01,Ventura,Rebate,Any,3000,1,1,1,1,2023-01-01
2019-01-01,Washoe,Rebate,BEV,500,1,0,1,1,2023-01-01
2019-01-01,Washoe,Rebate,PHEV,500,1,0,1,1,2023-01-01
2015-11-05,Yolo,Grant,Any,5000,1,1,0,1,2023-01-01

In [13]:
# For loop to determine 2015-2022 yearly existence (columns: county, year, incentive_count)
for incentive in incentives 
if start_date >= 1/1/2015 AND end_date <= 12/31/2015

county                    object
incentive_type            object
ev_type                   object
max_amount                 int64
requirements               int64
low_income                 int64
customer                   int64
one_time                   int64
start_date        datetime64[ns]
end_date          datetime64[ns]
dtype: object

In [17]:
len(incentives_df["county"])

county year incentive_count max_amount
Alameda 2015 8 10000

SyntaxError: invalid syntax (3533456408.py, line 3)

In [31]:
incentive_list = []

for index, row in incentives_df.iterrows():
#     print(row)
    incentive_dict = {}
    if row["start_date"] >= "2015-01-01":
        print(row)
    break
    
        and row["end_date"] <= 12/31/2015

TypeError: '>=' not supported between instances of 'Timestamp' and 'str'

In [ ]:
# For loop to add max (non-customer) amount for each county/year, add max customer incentive for each county/year, and