In [58]:
import pandas as pd

In [68]:
#Import incentives dataset
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Database/incentives_db.csv"
incentives_df = pd.read_csv(file_path)
incentives_df.head()

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,start_date,end_date
0,Alameda,Rebate,BEV,2000,1,0,1,1,7/1/2021,1/1/2023
1,Alameda,Grant,Any,9500,1,1,1,1,3/1/2019,1/1/2023
2,Alameda,Grant,Any,5000,1,1,0,1,6/1/2018,1/1/2023
3,Alameda,Toll discount,CAV,7,1,0,0,0,1/1/2019,1/1/2023
4,Alameda,Rebate,EV Charger,800,1,0,1,1,7/1/2018,1/1/2023

In [76]:
# Convert to datetime
incentives_df["start_date"] = pd.DatetimeIndex(pd.to_datetime(incentives_df["start_date"])).year
incentives_df["end_date"] = pd.DatetimeIndex(pd.to_datetime(incentives_df["end_date"])).year
incentives_df.head()

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,start_date,end_date
0,Alameda,Rebate,BEV,2000,1,0,1,1,2021,2023
1,Alameda,Grant,Any,9500,1,1,1,1,2019,2023
2,Alameda,Grant,Any,5000,1,1,0,1,2018,2023
3,Alameda,Toll discount,CAV,7,1,0,0,0,2019,2023
4,Alameda,Rebate,EV Charger,800,1,0,1,1,2018,2023

In [79]:
#Import sales_pop dataset, change year to int
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Database/sales_pop.csv"
sales_pop = pd.read_csv(file_path)
sales_pop["incentive_count"] = 0
# sales_pop["year"] = sales_pop["year"].astype("int")
sales_pop.head()

,county,year,number_sales,sales_percentage,population,pop_percentage,incentive_count
0,Alameda,2018.0,12578.0,8.12,1669659,4.23,0
1,Alameda,2021.0,15264.0,6.17,1671741,4.25,0
2,Alameda,2020.0,9978.0,6.94,1681700,4.25,0
3,Alameda,2016.0,5327.0,7.35,1647332,4.21,0
4,Alameda,2019.0,11781.0,8.05,1678926,4.25,0

In [80]:
# for loop iterating for years 2015-2022, count incentives per county
# (columns: county, year, incentive_count)
def county_year_incentives(county):
    chosen_county = incentives_df.loc[incentives_df["county"] == county]
    for year in range(2015,2023):
        incentive_count = 0
        for index, row in chosen_county.iterrows():
            if row["start_date"] <= year and row["end_date"] >= year:
                incentive_count = incentive_count + 1
                sales_pop.loc[(sales_pop["county"] == county) & (sales_pop["year"] == year),["incentive_count"]] = incentive_count

In [81]:
print(incentives_df["county"].unique())

['Alameda' 'All' 'Contra Costa' 'El Dorado' 'Fresno' 'Imperial' 'Inyo'
 'Kern' 'Kings' 'Lassen' 'Los Angeles' 'Madera' 'Marin' 'Mendocino'
 'Merced' 'Mono' 'Napa' 'Nevada' 'Orange' 'Placer' 'Plumas' 'Riverside'
 'Sacramento' 'San Bernardino' 'San Francisco' 'San Joaquin' 'San Mateo'
 'Santa Clara' 'Santa Cruz' 'Shasta' 'Sierra' 'Solano' 'Sonoma'
 'Stanislaus' 'Trinity' 'Tulare' 'Ventura' 'Washoe' 'Yolo']

In [82]:
# Run incentive count function for all counties
county_year_incentives("Alameda")
county_year_incentives('Contra Costa')
county_year_incentives('El Dorado')
county_year_incentives('Fresno')
county_year_incentives('Imperial')
county_year_incentives('Inyo')
county_year_incentives('Kern')
county_year_incentives('Kings')
county_year_incentives('Lassen')
county_year_incentives('Los Angeles')
county_year_incentives('Madera')
county_year_incentives('Marin')
county_year_incentives('Mendocino')
county_year_incentives('Merced')
county_year_incentives('Mono')
county_year_incentives('Napa')
county_year_incentives('Nevada')
county_year_incentives('Orange')
county_year_incentives('Placer')
county_year_incentives('Plumas')
county_year_incentives('Riverside')
county_year_incentives('Sacramento')
county_year_incentives('San Bernardino')
county_year_incentives('San Francisco')
county_year_incentives('San Joaquin')
county_year_incentives('San Mateo')
county_year_incentives('Santa Clara')
county_year_incentives('Santa Cruz')
county_year_incentives('Shasta')
county_year_incentives('Sierra')
county_year_incentives('Solano')
county_year_incentives('Sonoma')
county_year_incentives('Stanislaus')
county_year_incentives('Trinity')
county_year_incentives('Tulare')
county_year_incentives('Ventura')
county_year_incentives('Washoe')
county_year_incentives('Yolo')
sales_pop = sales_pop.dropna()
sales_pop

,county,year,number_sales,sales_percentage,population,pop_percentage,incentive_count
0,Alameda,2018.0,12578.0,8.12,1669659,4.23,2
1,Alameda,2021.0,15264.0,6.17,1671741,4.25,6
2,Alameda,2020.0,9978.0,6.94,1681700,4.25,4
3,Alameda,2016.0,5327.0,7.35,1647332,4.21,0
4,Alameda,2019.0,11781.0,8.05,1678926,4.25,4
...,...,...,...,...,...,...,...
390,Yuba,2015.0,13.0,0.02,75748,0.19,0
391,Yuba,2019.0,59.0,0.04,80250,0.20,0
392,Yuba,2016.0,15.0,0.02,76782,0.20,0
393,Yuba,2020.0,63.0,0.04,81468,0.21,0
394,Yuba,2018.0,41.0,0.03,79043,0.20,0

In [87]:
# for loop for state wide incentives
def county_year_incentives(county):
    chosen_county = incentives_df.loc[incentives_df["county"] == county]
    for year in range(2015,2023):
        incentive_count = 0
        for index, row in chosen_county.iterrows():
            if row["start_date"] <= year and row["end_date"] >= year:
                incentive_count = incentive_count + 1
                sales_pop.loc[(sales_pop["county"] == county) & (sales_pop["year"] == year),["incentive_count"]] = incentive_count

CA_incentives = sales_pop.loc[sales_pop["county"] == "All"]
CA_incentives

Empty DataFrame
Columns: [county, year, number_sales, sales_percentage, population, pop_percentage, incentive_count]
Index: []

In [8]:
# for loop iterating through max_amount, add non-customer incentives and max customer incentive
# (columns: county, year, incentive_count, max_amount)
county_max = 0

def max_incentive_amount(county):
    for max_amount in county:
        if incentives_df["start_date"] <= "2015-01-01" and incentives_df["end_date"] >= "2015-12-31":
            county_max = sum(max_amount) 
            
county_max

0

county                    object
incentive_type            object
ev_type                   object
max_amount                 int64
requirements               int64
low_income                 int64
customer                   int64
one_time                   int64
start_date        datetime64[ns]
end_date          datetime64[ns]
dtype: object

In [31]:
# incentive_list = []

# for index, row in incentives_df.iterrows():
# #     print(row)
#     incentive_dict = {}
#     if row["start_date"] >= "2015-01-01":
#         print(row)
#     break
    
#         and row["end_date"] <= 12/31/2015

TypeError: '>=' not supported between instances of 'Timestamp' and 'str'

In [ ]:
# For loop to add max (non-customer) amount for each county/year, add max customer incentive for each county/year,
# and CA wide incentives